<?xml version="1.0"?>
<configuration>
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  <location path="AddPartsToCatalog.aspx">
    <system.web>
      <authorization>
        <allow roles="Creation"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AddPartsToPO.aspx">
    <system.web>
      <authorization>
        <allow roles="Creation"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AddPartsToProjectKit.aspx">
    <system.web>
      <authorization>
        <allow roles="Creation"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AddPartsToRFQ.aspx">
    <system.web>
      <authorization>
        <allow roles="Creation"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AddPOLineItems.aspx">
    <system.web>
      <authorization>
        <allow roles="Creation"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AddProjectKitItems.aspx">
    <system.web>
      <authorization>
        <allow roles="Creation"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AddRFQLineItems.aspx">
    <system.web>
      <authorization>
        <allow roles="Creation"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CreatePO.aspx">
    <system.web>
      <authorization>
        <allow roles="Creation"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CreateProjectKit.aspx">
    <system.web>
      <authorization>
        <allow roles="Creation"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CreateRFQ.aspx">
    <system.web>
      <authorization>
        <allow roles="Creation"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
